<!DOCTYPE html>
<html>
    <head>
        <title>Video games reviews</title>
    </head>
    <body>
        <a></a>
        {{ form(form) }}
        <ul id="navigation">
        {% for item in videoGames %}
            <li>{{ item.name }} - {{ item.studio }}</li>
        {% endfor %}
        </ul>
    </body>
</html>